{{extend 'layout.html'}}
<h2>The Rules</h2>
<ol>
<li>Pick the Winner or Draw result of all the pool games, with 2pts being awarded for picking the correct winner and 1pt for picking a Draw result.</li>
<li>Pick the team that progresses in the knockout phase, 3 pts for the correct pick</li>
<li>Pick the winner of the 3rd/4th playoff, 2 pts for the correct pick</li>
<li>Pick the winner of the Final, 5 pts for the correct pick</li>
</ol>
<p>The person/or persons who are awarded the greatest number of points will be deemed the winner and share 60% (approx.) of the prize pool.
A person will be drawn at random at the end of pool play and be awarded 15% (approx.) of the prize pool.
A person will be drawn at random at the end of the tournament  and be awarded 25% (approx.) of the prize pool, drawn from all entrants who were not a winner of the main prize.
</p>
<h2>Spot Prizes</h2>
<p>The spot prize draw will be carried out in the following manner:</p>
<ol>
<li>All predictions from each entrant will be counted as one ticket into the draw</li>
<li>The winning ticket will be drawn at random and the owner of the ticket will be determined as the winner</li>
<li>The location and time of the draw will be announced before the draw is made for those who would like to witness it</li>
</ol>
<p>The first spot prize draw will take place shortly after the end of pool play and an announcement made as to the outcome.  The second spot prize will take place at the end of the tournament and an announcement made as to the outcome.</p>
