{{extend 'layout.html'}}

<h2>Contact Us</h2>
<p>We can be contacted through email or visiting us on the sixth floor</p>
<p>There is me <a href=https://unidirectory.auckland.ac.nz/profile/hsor001>Hugh Sorby</a> I am responsible for creating this temporary website and my email is:</p>
<ul>
<li>
h.sorby@auckland.ac.nz
</li>
</ul>
<p>You can also contact <a href=http://about.me/david.nickerson>Andre</a> he is responsible for any problems you have and his email is:</p>
<ul>
<li>
d.nickerson@auckland.ac.nz
</li>
</ul>
